
<div class="mt-20">
  <div class="text-center pb-12 mt-20 md:pb-16">
    <h1 class="text-5xl md:text-6xl font-bold leading-tighter tracking-tighter my-20">Microservices <span class="text-emerald-400">Ecommerce App</span>.</h1>
    <p class="text-xl font-semibold my-20">This application features many services that communicate with each other, they're listed down below :</p>
    <div class="flex justify-center text-transparent">
      <table class="table-auto border-collapse border-2 border-black text-black">
        <thead>
        <tr class="bg-black text-white">
          <th class="px-5 py-2 border">App Services :</th>
        </tr>
        </thead>
        <tbody>
        <tr><td class="px-5 py-2 border">Configuration Service</td></tr>
        <tr><td class="px-5 py-2 border">Gateway Service</td></tr>
        <tr><td class="px-5 py-2 border">Customers Service</td></tr>
        <tr><td class="px-5 py-2 border">Inventory Service</td></tr>
        <tr><td class="px-5 py-2 border">Orders Service</td></tr>
        </tbody>
      </table>
    </div>
    <div class="flex justify-center my-20 mb-4">
      <p class="py-2 px-4 rounded-md border-2 border-black bg-black text-white">Made by : <a href="https://github.com/n4rk" class="font-bold" target="_blank">Hachmi Mohamed Amine <i class="bi bi-github"></i></a></p>
    </div>

  </div>
</div>
